.carousel-wrap{
  background: #212124;
  padding: 100px 0 50px 0;
  min-height: 450px;
  height: 60vh;
  display: flex;
  justify-content: center;
  position: relative;
  user-select: none;
  margin: auto;
  box-sizing: content-box;
}

.top-carousel {
  margin: 0 auto;   
  z-index: 1;
  position: relative;
}

.card-comments{
  position: absolute;
  min-width: 1060px;
  margin-top: 76px;
  left: calc((100vw - 1060px) / 2);
}

.image-item{
  z-index: 102;
}

.prev-next-button {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  list-style: none;
  cursor: inherit;
  box-sizing: border-box;
  width: 50%;
  min-height: 450px;
  height: 60vh;
  position: absolute;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.prev-next-button:first-of-type {
  left: 0;
}

.prev-next-button:last-of-type {
  right: 0;
}

.prev-icon{
  display: block;
  background-image: url('../../public/sprites.png');
  background-position:-433px -102px;
  width: 32px;
  height: 52px;
  margin-left: 10px;
}

.next-icon{
  background-image: url('../../public/sprites.png'); 
  background-position: -433px -49px;
  width: 32px;
  height: 52px;
  margin-right: 10px;
  position: absolute;
  right: 0;
}


.image-item img{
  width: auto;
  min-height: 450px;
  height: 60vh;
}

.image-elements{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-elements li{
  width: fit-content;
}

.card-identity2{
  align-items: flex-start;
  width: 500px;
  height: 100%;
  display: flex;
  margin-right: 60px;
}

.card-identity2 .user-avatar {
  flex: 0 0 auto;
}

.card-identity2 a {
  cursor: pointer;
}

.card-identity2 span {
  font-size: 12px;
  color: #b3b3b3;
  font-weight: 400;
  margin-top: 2px;
}

#name {
  font-size: 20px;
  padding-top: 2px;
}

#name a {
  transition: color .15s ease-in-out;
}

.photo-info p{
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
}

.photo-info {
  padding-top: 15px;
  padding-bottom: 21px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0;
  border-bottom: 1px solid #cfd6d9;
}

.stats-container{
  border-bottom: 1px solid #cfd6d9;
  padding-bottom: 40px;
  display: flex;
  width: 500px;
  height: fit-content;
}

.stats {
  font-weight: 400;
  font-size: 20px;
  margin-right: 30px;
  margin-top: 13px;
  width: 140px;
  display: -ms-flexbox;
  display: inline-flex;
  justify-content: space-between;
  letter-spacing: 0;
}

.image-item .card-info{
  display: flex;
}

.stats div {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.stats h4 {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #898989;
  text-align: center;
}