*docker-compose*
/backend/Dockerfile
/client/Dockerfile

# for Node.js apps, you want to build the node_modules in the image -> not copy from host
/backend/node_modules
/client/node_modules

# Ignore the bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore our byebug history and extra logging files
.DS_Store
npm-debug.log
.byebug_history

/backend/config/keys-dev.js
/backend/.env