
.pictureUpload {
  margin-top: 100px;
  height: auto;
  width: auto;
}

#photoCreate {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.33);
  background-color: rgba(21, 21, 23, .95);
  border-radius: 4px;
  color: white;
  height: auto;
}

#upload-subheader {
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 0;
  top: 50px;
  height: 40px;
  width: 100%;
  background: linear-gradient(
            to bottom, rgba(238, 238, 238, 1) 0,
            rgba(241, 241, 241, 1) 100%);
}

button.upload{
  display: flex;
  color: #fff;
  margin-right: 20px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-overflow: ellipsis;
  margin-top: 5px;
  padding: 5px 10px 5px 10px;
  z-index: 2;
  height: fit-content;
  vertical-align: middle;
}
button.upload-active{
  display: flex;
  color: #fff;
  background: #0063dc;
  margin-right: 20px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-overflow: ellipsis;
  margin-top: 5px;
  padding: 5px 10px 5px 10px;
  z-index: 2;
  height: fit-content;
  vertical-align: middle;
}

.secondary-inputs{
  display: flex;
}
.upload-sub-photo-butt{
  margin-top: 10px;
  margin-left: 20px;
  display: inline-block;
  cursor: pointer;
}

.remove-upload-butt {
  margin-bottom: 3px;
  margin-left: 15px;
  display: inline-block;
}

.icon-plus-sign{
  color: green;
}

.icon-minus-sign{
  color: red;
}

.upload-photo-butt {
  position: absolute;
  margin-top: 150px;
  cursor: pointer;
  height: auto;
  width: fit-content;
  padding: 15px 9px;
  border-radius: 4px;
  border-style: inset;
  background: rgba(21, 21, 23, .95);
  color: white;
  font-size: 100%;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.upload-preview {
  height: auto;
  width: 100%;
  
  padding: 15px;
}

.photo-editor {
  display: flex;
  margin: 14px 0 0 14px;
  justify-content: flex-start;
  max-height: 300px;
  position: absolute;
  
  
}

.title-desc{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  text-shadow: 0 1px 0 #000;
}

.title-input {
  font-size: 20px;
}

.desc-input {
  font-size: 14px;
  padding-top: 10px;
}

.tags-input{
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding-left: 10px;
}

.albums-input{
  font-size: 14px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.image-card {
  border: 1px solid rgba(95, 95, 255, 0.05);
  border-radius: 4px;
  width: 200px;
  background-color: rgba(21, 21, 23, .95);
}

.tags{
  padding-left: 10px;
  font-size: 12px;
}

.albums{
  padding-left: 10px;
  font-size: 12px;
}


