.header-nav-container {
  background-color: rgba(21, 21, 23, .95);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 500;
}

.header-nav a {
  text-decoration: none;
  color: white;
}

.header-nav a:hover {
  text-decoration: none;
  color: white;
}


.header-nav,
.header-nav-left,
.header-nav-right,
.header-nav-links,
.header-nav-links a,
.header-nav-links li,
.header-search-bar,
.whiskr-logo,
.header-session-links,
.header-session-links li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  z-index: 1;
}

.header-nav {
  margin: 0 auto;
  color: #FFFFFF;
}

@media only screen and (min-width: 1080px) {
  .header-nav {
    max-width: 80%;
  }
}

@media only screen and (max-width: 1080px) {
  .header-nav {
    min-width: 812px;
    /* if we have time, should be a more responsive breakpoint here */
  }

  .whiskr-logo {
    margin-left: 15px;
  }
}

.whiskr-logo {
  font-family: 'Open Sans', sans-serif;
  font-size: 22.4px;
  opacity: 1;
  transition: opacity .15s ease-in-out;
  letter-spacing: 0;
}

.header-nav a:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header-nav-links {
  margin-left: 24px;
}

.header-nav-links li {
  position: relative;
}

.header-nav-links span {
  padding: 10px;
  font-size: 14px;
}

.header-dropdown {
  position: absolute;
  top: 46px;
  left: 10px;
  min-width: 150px;
  padding: 6px 0;
  font-size: 15px;
  line-height: 26px;
  color: #000;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  border: 1px solid #aaa;
}

.header-dropdown a {
  color: black;
}

.header-dropdown a:hover {
  color: black;
}

.header-dropdown::before {
  content: "";
  top: -10px;
  left: 8px;
  border-width: 0 10px 10px;
  border-color: #aaa transparent;
  border-style: solid;
  position: absolute;
}

.header-dropdown::before {
  content: "";
  top: -9px;
  left: 9px;
  border-width: 0 9px 9px;
  border-color: #fff transparent;
  border-style: solid;
  position: absolute;
}

.header-dropdown li {
  width: 100%;
}

.header-dropdown a {
  padding: 0 15px;
  width: 100%;
}

.header-dropdown a:hover {
  background: #f1f1f1;
  opacity: 1;
}

@media only screen and (max-width: 1080px) {
  .header-nav-right {
    margin-right: 12px;
  }
}

.header-search-bar {
  justify-content: flex-start;
  transition: all .25s ease-in-out;
  background-color: hsla(0, 0%, 100%, 0.8);
  width: 220px;
  height: 33px;
  margin-right: 9px;
  border-radius: 2px;
  color: black;
}

.header-search-bar.focused {
  background-color: #fff;
  width: 240px;
}

.search-icon {
  background-image: url("../public/search-icon.png");
  height: 18px;
  width: 20px;
  background-size: cover;
  background-position: -2px;
  filter: grayscale(1) opacity(0.8);
  margin: 8px 8px 7px 11px;
  cursor: pointer;
}

form.header-search-bar input {
  height: 33px;
  font-size: 14px;
  line-height: 20px;
  flex: 1 1 auto;
  border: none;
  border-color: transparent;
  background: transparent;
  margin-top: 10px;
}

.header-search-bar input:focus {
  border: none;
  box-shadow: none;
}

.header-upload-button {
  margin-left: 23px;
}

.header-upload-button a {
  background-image: url("../public/sprites.png");
  background-position: -381px -448px;
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.header-avatar-button {
  margin-left: 23px;
  position: relative;
}

.header-avatar-button > button {
  background-image: url("../public/camera-avatar.png");
  height: 33px;
  width: 33px;
  background-size: cover;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, .08);
  transition: box-shadow .15s ease-in-out;
}

.header-avatar-button>button:hover {
  box-shadow: inset 0 0 25px rgba(0, 0, 0, .2),
    inset 0 0 0 1px rgba(0, 0, 0, .2);
}

.header-profile-dropdown {
  opacity: 1;
  transition: opacity .3s ease-in-out;
  width: 300px;
  position: absolute;
  top: 50.5px;
  right: 0px;
  background-color: white;
  color: black;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .3), 0 1px 4px 0 rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}

.header-profile-dropdown h4 a {
  color: black;
}

.header-profile-dropdown h4 a:hover {
  color: black;
  text-decoration: underline;
}

.profile-dropdown-arrow {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #aaa, -1px -1px 4px rgba(0, 0, 0, .2);
  transform: rotate(45deg);
  position: absolute;
  right: 5px;
  top: 46.5px;
  z-index: 1;
}

.header-profile-dropdown::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 2px;
  transform: rotate(45deg);
  position: absolute;
  right: 5.5px;
  top: -4.5px;
  z-index: 1;
}

.header-profile-dropdown h4>a {
  display: inline-block;
}


.header-profile-dropdown h4>a:hover {
  opacity: 1;
  text-decoration: underline;
}

.header-profile-dropdown h4 {
  font-size: 20px;
  padding: 15px 20px;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
}

.header-profile-dropdown button {
  margin: 12px 0;
  padding: 6px 20px;
  font-size: 15px;
  line-height: 15px;
  cursor: pointer;
  color: #212124;
  width: 100%;
  text-align: left;
}

.header-profile-dropdown button:hover {
  background-color: #f1f1f1;
}

.header-session-links li {
  margin-left: 23px;
  font-size: 16px;
}

.header-session-links li:first-of-type a:hover {
  opacity: 0.7;
}

.header-session-links li:last-of-type a {
  padding: 0 20px;
  transition: all .15s ease-in-out;
  border-radius: 3px;
  height: 32px;
  line-height: 32px;
  background-color: #128fdc;
}

.header-session-links li:last-of-type a:hover {
  background-color: #1c9be9;
}

.header-session-links li:last-of-type a:focus {
  background-color: #1c9be9;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.6);
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  outline: 0;
}

.modal {
  z-index: 100;
  background: rgb(251, 251, 248);
  border-radius: 32px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 0px 5px;
    border-bottom: 1px solid #eee;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

.devs {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.devs h2 a {
  font-weight: 600;
  text-decoration: none;
}

.devs a:hover {
  color:rgb(0, 81, 255);
  text-decoration: none;
}

.devs-title{
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

.social{
  display: flex;
  justify-content: space-evenly;
  min-width: 90px;
}

.social a {
  cursor: pointer;
}

.social a:hover{
  background-color: white;
  color:rgb(0, 81, 255);
}