.header-nav-container {
  background-color: rgba(21, 21, 23, .95);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.header-nav,
.header-nav-left,
.header-nav-right,
.header-nav-links,
.header-nav-links a,
.header-nav-links li,
.header-search-bar,
.whiskr-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-nav {
  margin: 0 auto;  
  color: #FFFFFF;
}

@media only screen and (min-width: 1080px) {
  .header-nav {
    max-width: 80%;
  }
}

@media only screen and (max-width: 1080px) {
  .header-nav {
    min-width: 812px; /* if we have time, should be a more responsive breakpoint here */
  }

  .whiskr-logo {
    margin-left: 15px;
  }
}

.whiskr-logo {
  font-family: 'Open Sans', sans-serif;
  font-size: 22.4px;
  opacity: 1;
  transition: opacity .15s ease-in-out;
}

.header-nav a:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header-nav-links {
  margin-left: 24px;
}

.header-nav-links li {
  position: relative;
}

.header-nav-links span {
  padding: 10px;
  font-size: 14px;
}

.header-dropdown {
  position: absolute;
  top: 46px;
  left: 10px;
  min-width: 150px;
  padding: 6px 0;
  font-size: 15px;
  line-height: 26px;
  color: #000;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  border: 1px solid #aaa;
}

.header-dropdown::before {
  content: "";
  top: -10px;
  left: 8px;
  border-width: 0 10px 10px;
  border-color: #aaa transparent;
  border-style: solid;
  position: absolute;
}

.header-dropdown::before {
  content: "";
  top: -9px;
  left: 9px;
  border-width: 0 9px 9px;
  border-color: #fff transparent;
  border-style: solid;
  position: absolute;
}

.header-dropdown li {
  width: 100%;
}

.header-dropdown a {
  padding: 0 15px;
  width: 100%;
}

.header-dropdown a:hover {
  background:#f1f1f1;
  opacity: 1;
}

@media only screen and (max-width: 1080px) {
  .header-nav-right {
    margin-right: 12px;
  }
}

.header-search-bar {
  justify-content: flex-start;
  transition: all .25s ease-in-out;
  background-color: hsla(0, 0%, 100%, 0.8);
  width: 220px;
  height: 33px;
  margin-right: 9px;
  border-radius: 2px;
}

.search-icon {
  background-image: url("../public/search-icon.png");
  height: 18px;
  width: 18px;
  background-size: cover;
  background-position: -2px;
  filter: grayscale(1) opacity(0.8);
  margin: 8px 8px 7px 11px;
  cursor: pointer;
}

.header-search-bar input {
  height: 33px;
  font-size: 14px;
  line-height: 20px;
  flex: 1 1 auto;
}

.header-upload-button {
  margin-left: 23px;
}

.header-upload-button a {
  background-image: url("../public/sprites.png");
  background-position: -381px -448px;
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.header-avatar-button {
  margin-left: 23px;
}

.header-avatar-button button {
  background-image: url("../public/camera-avatar.png");
  height: 33px;
  width: 33px;
  background-size: cover;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: inset 0 0 20px rgba(0,0,0,.08);
  transition: box-shadow .15s ease-in-out;
}

.header-avatar-button button:hover {
  box-shadow: inset 0 0 25px rgba(0, 0, 0, .2), 
    inset 0 0 0 1px rgba(0, 0, 0, .2);
}
