.explore-container {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background-color: #f3f5f6;
  margin-top: 50px;
}

.explore-container h3 {
  font-size: 24px;
  padding: 16px 0 5px;
  line-height: 30px;
  font-weight: 300;
}

.explore-rows {
  width: 80vw;
  margin: 0 auto;
}

.explore-single-row {
  display: flex;
  justify-content: flex-start;
  margin-top: 4px;
}

.explore-single-photo {
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 4px;
}

.explore-single-photo .card-info {
  display: block;
}

.explore-single-photo .photo-title-description p:last-of-type {
  display: none;
}

.explore-single-photo .user-avatar {
  flex-grow: 0;
  margin: 0 16px 0 0;
  min-width: 32px;
  background-size: cover;
}

.explore-single-photo .photo-title-description {
  width: 100%;
}

.explore-single-photo .photo-actions-comment-icon {
  filter: brightness(0) invert(1) opacity(0.5);
  transition: all 0.3s ease-in-out;
}

.explore-single-photo .photo-actions-comment-icon:hover {
  filter: brightness(0) invert(1);
}

.explore-single-photo .activity-card-counts a:hover {
  color: white;
}

.explore-photo-index-loading {
  width: 80vw;
  margin: 75px auto 0;
}