.feed-container {
  width: 100%;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 90px;
  background-color: #f3f5f6;
  opacity: 1;
}

.feed.no-scroll {
  overflow: hidden;
}

.feed {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  width: 1080px;
  margin: 0 auto;
  box-sizing: border-box;
}

.single-card {
  background: #fff;
  width: 480px;
  margin-top: 0;
  justify-content: space-between;
  box-sizing: border-box;
  letter-spacing: .03em;
  border-radius: 4px;
  margin-bottom: 120px;
  transition: box-shadow .2s;
}
.single-card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,.1);
}

.single-card .user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin: 0;
  margin-right: 16px;
  display: flex;
  transition: box-shadow .15s ease-in-out;
  background-size: cover;
  box-shadow: inset 0 0 20px rgba(0,0,0,.08);
  flex-grow: 0;
}

.user-avatar:hover {
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2), 
    inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.card-identity {
  width: 100%;
  height: 64px;
  padding: 16px;
  vertical-align: middle;
  letter-spacing: .03em;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  display: flex;
}

.card-identity a {
  cursor: pointer;
}

.card-identity a:hover {
  text-decoration: underline;
}

.card-identity span {
  font-size: 12px;
  color: #b3b3b3;
  font-weight: 400;
  margin-top: 2px;
}

.card-photo{
  cursor: pointer;
  overflow: hidden;
  width: 480px;
}

.card-photo img {
  width: 100%;
  height: auto;
}

.card-info{
  font-weight: bold;
  padding: 0;
  box-sizing: border-box;
}

.single-card a {
  text-decoration: none;
  color: #212124;
}

.single-card li {
  list-style-type: none;
}

.photo-title-description {
  margin: 0;
  height: 48px;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  padding: 16px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
}

.photo-title-description p:last-of-type {
  display: none;
}

.photo-actions{
  display: flex;
  justify-content: space-between;
  height: 48px;
  padding: 16px;
  line-height: 16px;
  border-top: 1px solid rgba(0,0,0,.15);
}

.activity-card-counts {
  display: flex;
  align-items: center;
}

.activity-card-counts span,
.activity-card-counts a {
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 400;
  margin-right: 5px;
}

.activity-card-counts a {
  cursor: pointer;
}

.activity-card-counts a:hover {
  text-decoration: underline;
  color: black;
}

.photo-actions-comment-icon {
  height: 18px;
  width: 18px;
  background-image: url("../../public/sprites.png");
  background-position: -470px -494px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.photo-actions-comment-icon:hover {
  filter: brightness(0);
}

.photo-lightbox.hidden {
  display: none;
}

.photo-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.99);
  transition: background-color .6s ease-in;
}

.close-photo-lightbox {
  background-image: url("../../public/sprites.png");
  width: 16px;
  height: 16px;
  margin: 16px;
  background-position: -102px -512px;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.photo-lightbox-image {
  background-size: cover;
  cursor: default;
}

.photo-lightbox-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  opacity: 1;
  position: relative;
  transition: opacity .3s ease-in-out;
}

.photo-lightbox-info.hidden {
  opacity: 0;
}

.photo-lightbox-info .card-identity,
.photo-lightbox-info .card-info {
  position: relative;
  z-index: 2;
}

.photo-lightbox-info a,
.photo-lightbox-info .card-identity span,
.photo-lightbox-info .card-info,
.photo-lightbox-info .activity-card-counts span {
  color: white;
}

.photo-lightbox-info .card-identity span {
  opacity: 0.7;
}

.photo-lightbox-info .photo-title-description {
  line-height: 20px;
  height: fit-content;
  font-weight: 600;
  width: 440px;
}

.photo-lightbox-info .photo-title-description p:last-of-type {
  display: block;
  font-weight: 400;
  max-height: 180px;
  overflow: ellipsis;
}

.photo-lightbox-info .photo-actions {
  opacity: 0.7;
  border-color: rgba(255, 255, 255, 0.3);
}

.photo-lightbox-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.photo-lightbox-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(180deg,rgba(0,0,0,.5),transparent);;
}

.photo-lightbox-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(0deg,rgba(0,0,0,.5),transparent);
}

.photo-lightbox .photo-actions-comment-icon {
  filter: brightness(0) invert(1) opacity(0.5);
  transition: all 0.3s ease-in-out;
}

.photo-lightbox .photo-actions-comment-icon:hover {
  filter: brightness(0) invert(1);
}